node_modules/**/*
.expo/*
npm-debug.*
.DS_Store
google-services.json
turtle_cli/

# IDEs
.idea/

# Environment files
.env
app.json
config.json
/config
build_android.sh
celsius.jks
shell.apk

package-lock.json
.vscode/launch.json

# ejected app
constants.js
/android
/android-no-expo
/ios
/ios-no-expo
