{
  "expo": {
    "name": "Celsius",
    "description": "P2P Decentralized Lending & Borrowing for Cryptocurrency",
    "slug": "celsius",
    "scheme": "cel",
    "privacy": "public",
    "sdkVersion": "30.0.0",
    "platforms": [
      "ios",
      "android"
    ],
    "version": "2.0.0",
    "orientation": "portrait",
    "icon": "./assets/images/icons/icon@2x.png",
    "splash": {
      "image": "./assets/images/loading.png",
      "backgroundColor": "#4156A6",
      "resizeMode": "cover"
    },
    "ios": {
      "supportsTablet": false,
      "bundleIdentifier": "network.celsius.borrower",
      "config": {
        "googleSignIn": {
          "reservedClientId": "your reverse google client id"
        },
        "branch": {
          "apiKey": "key_live_ejq7UK7PAxUD4Viyg5fpmaiovuj6s6IK"
        }
      }
    },
    "android": {
      "package": "network.celsius.borrower",
      "config": {
        "googleSignIn": {
          "apiKey": "your api key",
          "certificateHash": "your hash"
        },
        "branch": {
          "apiKey": "key_live_ejq7UK7PAxUD4Viyg5fpmaiovuj6s6IK"
        }
      },
      "permissions": ["ACCESS_FINE_LOCATION", "ACCESS_COARSE_LOCATION"]
    },
    "hooks": {
      "postPublish": [
        {
          "file": "sentry-expo/upload-sourcemaps",
          "config": {
            "organization": "your organization short name",
            "project": "your project short name",
            "authToken": "your sentry auth token"
          }
        }
      ]
    }
  }
}
