<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Celsius Network</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cel</string>
				<string>celsius</string>
				<string>com.googleusercontent.apps.454720582142-8i6fk5bpohkcu8l077khvfiaj7ba5buh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>53</string>
	<key>CodePushDeploymentKey</key>
	<string>eRaxIfxBdCu60jdCi8gjdlD663oTryLH1Ezlr</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We'd like to use your calendat in order to use it in the app - is that ok?</string>
	<key>NSCameraUsageDescription</key>
	<string>We'd like to use your camera in order to proceed with taking a picture - is that ok?</string>
	<key>NSContactsUsageDescription</key>
	<string>We'd like to use your contacts in order to use it in the app - is that ok?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We'd like to use your location data in order to determine what country you're from - is that ok?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We'd like to use your location data in order to determine what country you're from - is that ok?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We'd like to use your microphone in order to use your camera - is that ok?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We'd like to use your photo library in order to proceed with picking a picture from your gallery - is that ok?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We'd like to use your photo library in order to proceed with picking a picture from your gallery - is that ok?</string>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Thin.ttf</string>
		<string>Barlow-ThinItalic.ttf</string>
		<string>Barlow-ExtraLight.ttf</string>
		<string>Barlow-ExtraLightItalic.ttf</string>
		<string>Barlow-Light.ttf</string>
		<string>Barlow-LightItalic.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-Italic.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-MediumItalic.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-SemiBoldItalic.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-BoldItalic.ttf</string>
		<string>Barlow-ExtraBold.ttf</string>
		<string>Barlow-ExtraBoldItalic.ttf</string>
		<string>Barlow-Black.ttf</string>
		<string>Barlow-BlackItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>celsiusnetwork.app.link</string>
</dict>
</plist>
